.formContainer {
  width: 60vw;
  height: 50vh;
  margin: 20px auto;
}

.formHeader {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 1px;
  font-weight: regular;
  background-color: #3a444d;
  border: none;
  color: white;
  padding-top: 1px;
  padding-bottom: 1px;
  line-height: 0.5rem;
  display: flex;
  flex-direction: row;
}

.formDetails {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  background-color: white;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
  margin-top: 2rem;
  height: 60vh;
  overflow-y: auto;
}

.RegFormLabel {
  flex: 1;
  font-size: 15px;
  font-weight: 500;
  color: #3a444d;
  margin-bottom: 1.6rem;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 5rem;
}

.SpecialAreaFix {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.RegHeadersTop {
  flex: 1;
  font-size: 15px;
  font-weight: 500;
  color: #3a444d;
  margin-bottom: 1.6rem;
}

.RegHeaders {
  flex: 1;
  font-size: 15px;
  font-weight: 500;
  color: #3a444d;
  margin-bottom: 2rem;
  margin-top: 1rem;
  text-align: center;
  background-color: rgba(58,68,77,0.85);
  color: white;
  padding-top: 3px;
  padding-bottom: 5px;
}